.contendedorepisodios
{
    display: flex;
    width: 90px;
    height: 150px;
    background-color:black;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    margin-left: 10px;
    border:2px solid greenyellow;
}
h3
{
    font-family: 'Roboto,sans-serif';
    font-size: 9px;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 12px;
}